tmp
crud/__init__.py
crud/__pycache__/
crud/admin.py
crud/apps.py
crud/migrations/
crud/models.py
crud/tests.py
crud/base.html
crud/templates/crud/product_confirm_delete.html
crud/templates/crud/product_form.html
crud/templates/crud/product_update_form.html
db.sqlite3
manage.py
myproject/__init__.py
myproject/__pycache__/
myproject/settings.py
myproject/wsgi.py
myproject/asgi.py
